@import "tailwindcss";

/* Content / content */
.content {
    margin-top: 4rem;
}

/* HEADER / about */
.header {
    position: relative;
}

.animated-background {
    background: linear-gradient(-45deg, #1C398E, #3A5BB8, #333D4B, #1F1B1B);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}